{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta name="description" content="{%block content%} {%endblock%}" />
  <meta name="robots" content="{%block robots%}{%endblock%}" />
  <meta name="keywords" content="{%block keywords%}{%endblock%}" />
  <link href="{% static 'new.css' %}" rel="stylesheet" type="text/css" />
  <link href="{%block css%}{%endblock%}" rel="stylesheet" type="text/css" />
  <link href="{%static 'img/favicon.ico'%}" rel="icon" type="icon/ico" />
  <title>{%block title%} {%endblock%}</title>
</head>

<body>
  {%block body%}{%endblock%}
</body>

</html>