body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* ---------------- navigation bar style ---------------- */
header {
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 10px 25px #00000043;
  height: 70px;
}
header img {
  padding-top: 12px;
}
.main-nav {
  padding: 10px;
  display: flex;
  column-gap: 40px;
  padding-top: 18px;
}
.main-nav a {
  font-size: 20px;
  color: #3d414a;
  text-decoration: none;
  transition-duration: 0.3s;
  padding-top: 5px;
}
.main-nav a:hover {
  color: #fb6376;
}
#selected {
  color: #5762d5;
}
header svg:hover {
  cursor: pointer;
}
#moon-icon {
  transform: translateY(-5px);
  display: none;
}
#sun-icon {
  transform: translateY(-5px);
}

form {
  width: 400px;
  background-color: #eeeff1;
  border: solid 1px #3c404a2f;
  border-radius: 15px;
  color: #3d414a;
  padding: 25px;
  margin: 50px auto;
}
.field {
  width: 94%;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
}
.field:focus {
  outline: solid 2px #5762d5;
}
form a {
  color: #5762d5;
  text-decoration: none;
}
button {
  width: 100%;
  background-color: #5762d5;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.3s;
}
button:hover {
  background-color: #4751c0;
  cursor: pointer;
}
